@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: 'Sofia Sans Semi Condensed', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
body{
    background-image: linear-gradient(to bottom right, rgb(117, 53, 160),rgb(11, 117, 136));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000000;
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
    /* opacity: 0; */
    
}

.change-theme{
    cursor: pointer;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 200%;
    
}
.change-theme2{
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 200%;
    z-index: 1;
}
.change-theme.new{
    color: #333;
}


.theme-toggler.active{
    color: #333; 
    /* for understanding can change its opacity above and zindex to edit the area for clicking */
    
}

.theme-toggler.active::before{
    background-color: #FFFFFF;   
}
/* .theme-toggler::before{
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
} */
#display{
    margin:0 10px ;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;

}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.11);
}

button#equal{
    height: 130px;
}
/* light theme */
.calculator{
    background-color: #FFFFFF;
}
.calculator#display{
    color: #0a1e23;
}
.calculator button#clear{
    background-color: #ffd3d6;
    color: #ff0011;
}
.calculator button.btn-number{
    background-color: #b7e4fc;
    color: #000000;
}
.calculator button.btn-operator{
    background-color: #fccafa;
    color: #f967f3;
}
.calculator button.btn-equal{
    background-color: #019c78;
    color: #FFFFFF;
    font-size: 30px;
}

/* dark theme */
.calculator.dark{
    background-color: #071115;
}
.calculator.dark #display{
    color: #f8fafd;
}
.calculator.dark button#clear{
    background-color: #510518;
    color: #e31523;
}
.calculator.dark button.btn-number{
    background-color: #23414f;
    color: #f8fafd;
}
.calculator.dark button.btn-operator{
    background-color: #412853;
    color: #ef1be8;
}
.calculator.dark button.btn-equal{
    background-color: #1d4d20;
    color: #FFFFFF;
}
.calculator.dark .change-theme{
    color: #FFFFFF;
}